
{{> head}}


{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>FUNKO WALLPAPER</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nobis fuga repellat possimus voluptates quam. Recusandae quia impedit voluptates nam. Nihil nemo eum officiis nulla illo dolores consectetur consequuntur doloremque?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/funko.jpg" alt="Funko wallpaper" class="img-thumbnail">
    </div>
</div>


{{> footer}}